# Python transient stuff
*.egg-info
*__pycache__
.envs
*.pyc

# macOS stuff
*.DS_Store

# Benchmark runs directories
results
data
*.zip

# Tests
.coverage
.coverage.Arid.local.57674.812565


# IDE stuff
.idea

# Temporary
tmp

# Model configs
envs